@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-white md:bg-transparent font-body p-5 md:text-white rounded-full text-center cursor-pointer flex justify-center items-center gap-4 border-2 border-gray-400;
}

.mute-btn {
  right: 20px;
  top: 20px;
  z-index: 1;
}
