@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito Sans', sans-serif;
}

.link {
    @apply flex pl-[25%] sm:pl-[30%] gap-4 border-2 border-gray-700 dark:border-gray-300 rounded-lg p-2 mb-4 text-gray-700  dark:text-white font-bold shadow-lg;
}

.dark\:bg-gray-800 {
    background-color: #2d3748;
    transition: background-color 1s ease;
  }
  